[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
# boto3 = "==1.34.135"
boto3 = "*"
bs4 = "==0.0.2"
email-validator = "==2.2.0"
fastapi = "==0.111.0"
httpx = "==0.27.2"
mangum = "==0.17.0"
numpy = "==1.26.4"
pandas = "==2.2.2"
playwright = "==1.47.0"
psycopg2-binary = "==2.9.9"
pycognito = "==2024.5.1"
pydantic = "2.10.6"
pydantic-core = "2.27.2"
pydantic-settings = "2.8.1"
python-jose = "==3.3.0"
requests = "==2.32.3"
shapely = "==2.0.4"
sqlalchemy = "==2.0.30"
types-beautifulsoup4 = "4.12.0.20240907"
uvicorn = "==0.29.0"
langchain = "==0.3.20"
langchain-community = "==0.3.19"
langchain-core = "==0.3.45"
langchain-openai = "==0.3.8"
langchain-pinecone = "==0.2.3"
langchain-tests = "==0.3.14"
langchain-text-splitters = "==0.3.6"
langchain-aws = "*"
langdetect = "==1.0.9"
langgraph-checkpoint = "==2.0.18"
langgraph-sdk = "==0.1.55"
langgraph = "==0.2.76"
langsmith = "==0.3.13"
langgraph-checkpoint-amazon-dynamodb = "==0.1.1"

[dev-packages]
black = "*"
boto3-stubs = "*"
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
isort = "*"
mypy = "*"
mypy-boto3 = "*"
mypy-extensions = "*"
pre-commit = "*"
pylint = "==3.2.6"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
ruff = "*"
types-python-jose = "*"
types-shapely = "*"

[requires]
python_version = "3.12"
